body{
	margin: 200px;
	padding: 0px;
	background-color: lightgrey;
}
.container{
	display: flex;}
.kindness{

	border: 3px dotted blue;
	color: yellow;
	padding: 20px;
	text-align: center;
}
ul.firstul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
a{
	text-decoration:none;
}
.form{
	display: flex;
	flex-direction: column;
}
hr{
	width: 500px;
	text-align: center;
}
ul.secondul{
	display: flex;
	width:500px;
	margin: auto;
	justify-content:space-around;
	list-style-type: none;
}
