body{
	background-color: lightgrey;
	margin: 200px;
	padding: 0px;
}
.container{
		display: flex;
		justify-content:space-between;
		background-color: #b9f442;
}
.white{
	background-color: white;
}
.pink{
	background-color: pink;
	}
ul.ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 280px;
	padding: auto;
}
a{
	text-decoration: none; 
}
img{
	padding: 20px;
}
.secondcontainer{
	display: flex;
	justify-content: center;
}
.first{
	border: 3px solid yellow;
	padding: 20px;
}
p{
	border: 4px solid green;
	color: brown;
	font-size: 25px;
	padding: 8px;
}
.second{
	border: 3px solid yellow;
	padding: 20px;
}
.image{ height: 300px;
		width:500px;
}
hr{
	width:500px;
}
ul.last{
	display: flex;
	justify-content: space-around;
	width:500px;
	margin: auto;
	list-style-type: none;


}